@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: 'c';
  src: url('ecriture/Quantico-Regular.ttf') format('opentype');
  font-weight:normal;
}

@font-face {
  font-family: 'g';
  src: url('ecriture/Barlow-Light.ttf') format('opentype');
  font-weight:normal;
}

@font-face {
  font-family: 'te';
  src: url('ecriture/Rajdhani-Regular.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');




body {
    background-color: rgb(0, 0, 0);

  }


  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    border: 1px solid #ffffff;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    font-family: 'c';
    color: white;
    font-size: 16px;
    font-weight: 100;
  }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .left a {
    font-family: 'c';
    margin-right: 20px;
    color: white;
    padding-left: 30px;
    text-decoration: none;
  }
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle img {
    width: 100px;
    height: auto;
    margin: auto !important;
  }
  .right button {
    font-family: 'c';
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
    margin-left: 110px;
  }